.hpair, .epair {
  list-style: none;
  margin: 10px;
}

.heavenly-list, .earthly-list {
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  justify-content: center;
}

.list-container {
  border: 1px solid rgb(168, 168, 168);
  border-radius: 12px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 0 0 20px 0;
}

.unused-container {
  display: flex;
  justify-content: center;
  direction: rtl;
  font-size: 35px;
}

.unused-letter {
  margin: 0 5px;
}

.word {
  font-size: 35px;
}