.hpair, .epair {
  list-style: none;
  margin: 10px;
}

.heavenly-list, .earthly-list {
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  justify-content: center;
}

.list-container {
  /* display: flex;
  direction: rtl; */
  border: 1px solid rgb(168, 168, 168);
  border-radius: 12px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  /* color: rgb(167, 167, 167); */
}

.word {
  font-size: 35px;
}