.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  margin-bottom: -60px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(53, 53, 53);
  height: 50px;
  /* padding: 20px; */
  color: white;
}

.App-title {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin: 10px 0 10px 20px;
  float: left;
}

.App-intro {
  font-size: large;
}

.main {
  margin: 0 10px 100px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
