* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  Font-Family: 'Cabin', Sans-Serif;
  Font-Size: 16px;
}

h1, h2 {
  Font-Family: 'Roboto Condensed', Sans-Serif;
  Font-Size: 35px;
}
